.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-image: linear-gradient(to bottom right, rgb(var(--background-dark-0)), black, rgb(var(--background-dark-1)));
}