.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 120px 100px;
    gap: 100px;
    flex-wrap: wrap;
}

.mainBackground{
    background-image: linear-gradient(to right, rgb(var(--background-dark-0)), black,rgb(var(--background-dark-1)),  black,rgb(var(--background-dark-0)));
    min-height: 100vh;
    position: relative;
}